# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [4]:
x = "Python"
y = "python"

print(type(x)) 
print(type(y))


print(id(x))
print(id(y))

<class 'str'>
<class 'str'>
140415433492464
140415439841136

In [9]:
i1 = 10
i2 = 10

print(id(i1))
print(id(i2))

a1 = 20.0
a2 = 20.0

print(a1 is not a2)
print(id(a1))
print(id(a2))

4395375232
4395375232
True
140415469974864
140415469973584

In [27]:
#If two diff variable has the same value as float dt, address will be diff. 
i1 = 2+7j
i2 = 2+7j

print(i1 is i2)

print(id(i1))
print(id(i2))

False
140496373285424
140496373284912

In [54]:
kharadi_population_age1 = ["ten",19,3.0, 45, 78, 45]

In [56]:
kharadi_population_age1.remove(45)
print(kharadi_population_age1)
print(id(kharadi_population_age1))
print(type(kharadi_population_age1))

['ten', 19, 3.0, 78]
140496368708096
<class 'list'>

In [57]:
list_to_tup = tuple(kharadi_population_age1)
print(id(list_to_tup))
print(type(list_to_tup))

140496362946448
<class 'tuple'>

In [61]:
#converting list to set
list_to_set = set(kharadi_population_age1)
print(id(list_to_set))
print(type(list_to_set))

140496369343840
<class 'set'>

In [62]:
Indian_banks = ('SBI', 'BOI', 'HDFC', 'AXIS', 'ICICI')
print(type(Indian_banks))

#convert tuple to list
#convert tuple to set

<class 'tuple'>

In [63]:
metros = {"Delhi", "Chennai", "Mumbai", "kolkata"}
print(type(metros))

#convert set to tuple
#convert set to list

<class 'set'>

In [94]:
india_city_code = {11 : "Delhi", 22 : "Mum", 33 : "KlK", 44 : "CHN"}
india_city_code[33] = 'Kalicut'
india_city_code[20] = "Pune"
print(type(india_city_code))

<class 'dict'>

In [90]:
li1 = {1,2}
li2 = {1,2}


print(id(li1))
print(id(li2))
print(type(li1))
print(type(li2))

140496375046880
140496379213856
<class 'set'>
<class 'set'>

In [ ]:
a = 12
b = 10
print("A answer is : " , type(a))
print("B answer is : " , b)
print(id(a))
print(id(b))
b = 20
print(id(b))
print("B answer is chaning to : " , b)

print("My a value is : ", a)

In [93]:
bool_value1 = True
bool_value2 = False

print(type(bool_value1))

bool_int = float(bool_value1)
print(bool_int)

<class 'bool'>
1.0

In [ ]:
num = '100'
print("This is original variable :" ,type(num))

num_f = int(num)
print("This is int value :", num_f)
print("This is value after casting with int: ", type(num_f))

num_s = float(num)
print("This is float value :", num_s)
print("This is value after casting with float: ", type(num_s))

In [ ]:
#We use the assignment operator (=) to assign values to a variable

a = 10
d = 10
b = 5.5
c = 'ML'
print(id(a))
print(id(d))

print(float(d))

x = float(a)
print(x)
print(id(x))
print(type(x))
b = "5"
print(b)
print(type(b))

In [ ]:
x = "6.7"
y = float(x)
print(type(y))
print(y)

# Multiple Assignments

In [ ]:
a, b, c = 10, 5.5, "ML"
a = 10; b = 5.5; c = "ML"

In [30]:
a = b = c = "AI" #assign the same value to multiple variables at once

# Storage Locations

In [31]:
x = 3

print(id(x))               #print address of variable x
print(type(x))

4455090592
<class 'int'>

In [32]:
y = 3

print(id(y))               #print address of variable y

4455090592

Observation:

x and y points to same memory location

In [33]:
y = 2
print(id(y))               #print address of variable y

4455090560

# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [34]:
a = '5'                               #data type is implicitly set to integer
print(a, " is of type", type(a))
print(isinstance(a, str))

5  is of type <class 'str'>
True

In [35]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [36]:
a = 1+2j                          #data type is changed to complex number
print(a, " is complex number?", type(a)) 
print(isinstance(a, complex))

(1+2j)  is complex number? <class 'complex'>
True

# Boolean

 Boolean represents the truth values False and True

In [37]:
a = False                          #a is a boolean type
print(type(a))

b1 = float(a)
print(b1)
print(type(b1))

x2 = str(a)
print(x2)
print(type(x2))

<class 'bool'>
0.0
<class 'float'>
False
<class 'str'>

In [38]:
a1 = False
print(type(a1))

b2 = float(a1)
print(b2)
print(type(b2))

<class 'bool'>
0.0
<class 'float'>

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [39]:
name = "Vaccination"
name = "vaccination"
print(name)
#print(name[7])

print(name[3:])

print(len(name))

vaccination
cination
11

In [40]:
s = 'This*is*Online ML course'
print(s)

This*is*Online ML course

In [41]:
print(s[0])
print(len(s))
print(s[:3])
#last char s[len(s)-1] or s[-1]

T
24
Thi

In [42]:
#slicing
x = s[:5]
print(x)
y = s[2:]
print(y)
s1 = s[:]
print(s1)

This*
is*is*Online ML course
This*is*Online ML course

In [43]:
s[0] = 't'

TypeError: 'str' object does not support item assignment

# Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [21]:
li = [10,12,14,"India", 11.8]
print(type(li))
li += [9,"hello",9]
print(li)
print(len(li))
li.remove(9)

print(li)
print(len(li))
li[3] = "Ind"
print(li)

<class 'list'>
[10, 12, 14, 'India', 11.8, 9, 'hello', 9]
8
[10, 12, 14, 'India', 11.8, 'hello', 9]
7
[10, 12, 14, 'Ind', 11.8, 'hello', 9]

In [ ]:
a = list()    #empty list
a += (10, 20.5, "Hello")

a += ['DS', 10]

print("Original value of a: ", a)


#a = [10, 20.5, "Hello"] 

print('Original value of a : ', a)
print(len(a))
print(type(a))
print('This is index one value : ', a[1])               #print 1st index element
a[1] = 23
print('After changing : ', a)
print(len(a))

a[0] = a[0] - 5         
print(a)
#print(a[2][2:4])

Lists are mutable, meaning, value of elements of a list can be altered.

# Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [ ]:
#tup1 = tuple()   #empty tuple
#tup1 += (19,10,'one','python','DS')
#print(tup1)
tup = (1,20.1,"twenty",True)
print("Length of tup : ", len(tup))

print(type(tup))

In [ ]:
t = (1, 1.5, "ML")
t2 = (2,4,9)
print(type(t))
t1 = [t,t2]

print(t1)
print(type(t1))
print(t1[1][0])

t1[0] = (2,10,19)
print(t1)

In [ ]:
print(t[1]) #extract particular element

# Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [ ]:
a = {10, 30, 10, 40, 20, 40, 5}
print(a)
print(isinstance(a,set))

In [ ]:
print(type(a))             #print type of a

We can perform set operations like union, intersection on two sets. Set have unique values.

In [ ]:
s = {10, 20, 20, 30, 30, 30}
print(s) #automatically set won't consider duplicate elements

s.add(500)
print(s)

In [ ]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [ ]:
d = {"XUV500" : "Mahindra", "Cedan" : "BMWX7", "Hatchback" : "Alrix"}
print("Value for cedan: ", d['Cedan'])

print(d.get('XUV700'))

d['Hatchback'] = 'Polo'
print ("Checking hatchback car :" , d['Hatchback'])

print("Value after change the model of car : ", d)
#Dictionaries are mutable

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [ ]:
float(5)     #convert interger to float using float() method

In [ ]:
int(100.5)   #convert float to integer using int() method

In [ ]:
str(20)      #convert integer to string

Conversion to and from string must contain compatible values.

In [ ]:
int('10p')

In [ ]:
user = "Nilesh"
lines = 100
print(type(lines))

print("Congratulations, " + user + "! You just wrote " + str(lines) +  " lines of code" )
#remove str and gives error

We can convert one sequence to other

In [ ]:
a = (1, 2, 3)

print(a)

print(type(a))      #type of a is list 

s = list(a)          #convert list to set using set() method

print(type(s))      #now type of s is set
print(s)

t = set(a)

print(type(t))
print(t)

In [ ]:
he = list("Hello")       #convert String to list using list() method
print(he)
he[0] = 'h'
print(he)