# Operators

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

# Operator Types

1. Arithmetic operators
    
2. Comparison (Relational) operators

3. Logical (Boolean) operators

4. Bitwise operators

5. Assignment operators

6. Special operators

# Arithmetic Operators

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, division etc.

    + , -, *, /, %, //, **  are arithmetic operators

Example:

In [4]:
x = 17
y = 6

print("This is sum of two variable : " , (x+y))
print("This is div of two variable : " , (x/y))
print("This is div of two variable, but ans is rounded : " , (x//y))
print("This is mod of two variable : " , (x%y))

squared = 5 ** 2
print("this is an ans of exp :", squared)

This is sum of two variable :  23
This is div of two variable :  2.8333333333333335
This is div of two variable, but ans is rounded :  2
This is mod of two variable :  5
this is an ans of exp : 25

In [1]:
x = 10
y = 15


#addition
print(x + y)   #25
print(x/y)     #0.6
print(x//y)    #0


#subtraction(-)

#multiplication(*)

#division(/)

#modulo division (%)

#Floor Division (//)

#Exponent (**)

z = 4
print(z**2)

d = 89%99
print(d)
print(2**5)

30
0.5
0
16
89
32

# Comparision Operators

Comparison operators are used to compare values. It either returns True or False according to the condition.

    >, <, ==, !=, >=, <= are comparision operators

In [1]:
a, b = 10, 20   
a = 10
print(a == b)

print(a > b)  #check a is less than b
print(a!=b)
print(a>=b)

#check a is greater than b

#check a is equal to b

#check a is not equal to b (!=)

#check a greater than or equal to b

#check a less than or equal to b

False
False
True
False

# Logical Operators

Logical operators are  **and, or, not** operators.

In [2]:
a, b = True,  False

#print a and b
print(not a)
print(a and b)
print(a or b )

#print a or b

#print not b

False
False
True

# Bitwise operators

Bitwise operators act on operands as if they were string of binary digits. It operates bit by bit

    &,  |,  ~,  ^,  >>,  << are Bitwise operators

In [9]:
num1 = 9 ; num2 = 7

num3 = (num1 << 2)

print(num3)

36

In [4]:
a, b = 10, 2
print("Ans of AND operator", a & b)
print("Ans of OR operator", a|b)

#Bitwise AND
print("Left shift ", a >> b)     # 00001001 >> 3, #00000001 = 1
print("Right shift ", a << b)     # 00001001 << 2, #00100100 => 36
#print(a or b)

#100
#001

#1001

#Bitwise OR


#Bitwise NOT

z = 13
print(~z)

#Bitwise XOR

a1 = 13 #1001
b1 = 7  #0101
print("XOR output :", a1^b1)


#Bitwise rightshift

a2 = 19  #1010

print(a2 >> 2)


#Bitwise Leftshift

Ans of AND operator 2
Ans of OR operator 10
Left shift  2
Right shift  40
-14
XOR output : 10
4

# Assignment operators

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

    =,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  |=,  ^=,  >>=,  <<= are Assignment operators

In [3]:
a = 14

a += 10         #add AND
print("this is for a :" , a)

a1 = 14
a1 = a1+10

print("this is for a1 :" , a1)

b = 79
c = 90

a = a ^ 10
print(a)

print(b%c)

#subtract AND (-=)

#Multiply AND (*=)

#Divide AND (/=)

#Modulus AND (%=)

#Floor Division (//=)

#Exponent AND (**=)

this is for a : 24
this is for a1 : 24
18
79

# Special Operators

# Identity Operators

**is and is not** are the identity operators in Python. 

They are used to check if two values (or variables) are located on the same part of the memory.

In [10]:
a = 5
b = 6

print(a is not b)    #5 is object created once both a and b points to same object

c = 5

#check is not
print(id(a))
print(id(b))

print(id(c))

True
4532013536
4532013568
4532013536

In [12]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is not l2)
print(id(11))
print(id(12))

True
4446870176
4446870208

In [4]:
s1 = "Nilesh"
s2 = "Nilesh"
print(s1 is not s2)
print(id(s1))
print(id(s2))

False
140284961317296
140284961317296

# MemberShip Operators

**in and not in** are the membership operators in Python. 
    
They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and   dictionary).

In [11]:
lst = {1, 2, 3, 4}
print(2 in lst)       #check 1 is present in a given list or not

#check 5 is present in a given list

ds = "Data-Science"
print('a' not in ds)

True
False

In [8]:
d = {1: "a", 2: "b"}
print(2 in d)

True

In [11]:
print(2)

2

In [5]:
#Collection data types :

lis = [1,2,3,4]
print(lis[0])

1

In [7]:
lis += [9]

In [8]:
print(lis)

[1, 2, 3, 4, 9]

In [9]:
lis[2] += 3
print(lis)

[1, 2, 6, 4, 9]

In [11]:
lis.remove(4)

In [12]:
print(lis)

[1, 2, 6, 9]

In [20]:
tup = (1,2,3,4)
tup[1] += 4
print(tup)

TypeError: 'tuple' object does not support item assignment

In [21]:
set_ex = {1,2,4,5,8,10,7,4,5}
print(set_ex)

{1, 2, 4, 5, 7, 8, 10}

In [22]:
set_ex[1]

TypeError: 'set' object is not subscriptable

In [ ]:
city_pincode = {"Pune":411014, "Delhi":411014, "Mum":923213}