In [1]:
#Python 3.9.7

In [2]:
#Rules of variable and identifier :
'''
1]. variable can not start with number
2]. special chars can not be used, excluding _
'''

'\n1]. variable can not start with number\n2]. special chars can not be used, excluding _\n'

In [3]:
a = 10

In [4]:
type(a)  #data type

int

In [5]:
id(a)

140707763595344

In [6]:
b = 10
id(b)

140707763595344

In [7]:
f = 100.24  #float
q = 100.24

f == q   #f is q (memory address)

True

In [8]:
course1 = 'Data'
course2 = "Data"
course3 = '''Data'''

print(id(course1))
print(id(course2))
print(id(course3))

2903689064880
2903689064880
2903689064880

In [10]:
print(dir(course1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [12]:
course1.__class__

str

In [13]:
test = True
type(test)

bool

In [14]:
comp = 3+9j
type(comp)

complex

In [15]:
#collection data types :
'''
list : [], list(), FIFO, Indexing, mutable
tuple : (), tuple(), FIFO, Indexing, immutable
set : {}, set(), random, mutable, unique
dictionary : {k:v}, dict(), mutable, key should be 
unique
'''

'\nlist : [], list(), FIFO, Indexing, mutable\ntuple : (), tuple(), FIFO, Indexing, immutable\nset : {}, set(), random, mutable, unique\ndictionary : {k:v}, dict(), mutable, key should be \nunique\n'

In [16]:
d = {}
type(d)

dict

In [17]:
age = [16, 11, 19, 28, 54, 39]
print("Total num of element is :" + str(len(age)))

Total num of element is :6

In [18]:
type(age)

list

In [19]:
a_float = float(a)
print(a_float)
print(type(a_float))

10.0
<class 'float'>

In [20]:
f_int = int(f)
print(f_int)
print(type(f_int))

100
<class 'int'>

In [21]:
std = "12"
int(std)

12

In [22]:
age[1]

11

In [23]:
age += [19]

In [24]:
age

[16, 11, 19, 28, 54, 39, 19]

In [25]:
age[3] = 29
age

[16, 11, 19, 29, 54, 39, 19]

In [26]:
tup = (13.2, 19.8, 21.4, 22.6)
type(tup)

tuple

In [27]:
tup += (32.1,)

In [28]:
tup

(13.2, 19.8, 21.4, 22.6, 32.1)

In [29]:
city = {"Bhopal","Raipur","Delhi","Raipur","Pune"}
city

{'Bhopal', 'Delhi', 'Pune', 'Raipur'}

In [30]:
print(dir(city))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [31]:
census = {"Ind":1.4, "China":1.54, "USA":0.3, "France":0.07}
census

{'Ind': 1.4, 'China': 1.54, 'USA': 0.3, 'France': 0.07}

In [32]:
census["Ind"] = 1.43

In [33]:
census

{'Ind': 1.43, 'China': 1.54, 'USA': 0.3, 'France': 0.07}

In [34]:
census["Afgan"] = 0.41

In [35]:
census

{'Ind': 1.43, 'China': 1.54, 'USA': 0.3, 'France': 0.07, 'Afgan': 0.41}

In [36]:
tup_list = set(tup)
type(tup_list)

set

In [37]:
#Keywords : 

import keyword as kw

In [38]:
print("These are my kw's :", kw.kwlist)
print(len(kw.kwlist))

These are my kw's : ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [39]:
#reserved kw's can not be assigned as varibale 
try = 10

SyntaxError: invalid syntax (<ipython-input-39-f0aa7228826d>, line 2)

In [40]:
#Operators : 

'''
1]. Arithmetic : +, -, *, /, %, **, //
2]. Comparison : >, <, >=, <=, ==, !=
3]. Assignment : +=, -=, *=, /=, %=, **=, //=
4]. Logical : and, or, not
5]. special : 
A]. identity  - is, is not
b]. membership - in, not in
6]. bitwise : &, |, ~, ^, >>, <<

'''

'\n1]. Arithmetic : +, -, *, /, %, **, //\n2]. Comparison : >, <, >=, <=, ==, !=\n3]. Assignment : +=, -=, *=, /=, %=, **=, //=\n4]. Logical : and, or, not\n5]. special : \nA]. identity  - is, is not\nb]. membership - in, not in\n6]. bitwise : &, |, ~, ^, >>, <<\n\n'

In [41]:
i = 5
j = 8

print("Addition:", (i+j))
print("Sub:", (i-j))
print("Multi:", (i*j))
print("Div:", (i/j))

Addition: 13
Sub: -3
Multi: 40
Div: 0.625

In [42]:
print("power:", (i**3))

power: 125

In [43]:
print("Modulus:", (i%j))

Modulus: 5

In [44]:
print("Floor:", (j//i))

Floor: 1

In [45]:
print("i is greater than j:", (i>j))
print("i is less than j:", (i<j))
print("i is greater than and equal to j:", (i>=j))
print("i is less than and equal to j:", (i<=j))
print("i is equal to j:", (i==j))
print("i is not equal to j:", (i!=j))

i is greater than j: False
i is less than j: True
i is greater than and equal to j: False
i is less than and equal to j: True
i is equal to j: False
i is not equal to j: True

In [46]:
i /= 6  #i += 6
i

0.8333333333333334

In [47]:
t = True
f = False
print(t and f)
print(t or f)
print(not f)

False
True
True

In [48]:
a = 10.2

In [49]:
b = 10.2

In [50]:
a is not b   #it checks the memory address

True

In [51]:
age

[16, 11, 19, 29, 54, 39, 19]

In [52]:
17 not in age

True

In [53]:
e = 11
d = 8

In [54]:
print(e | d)

11

In [55]:
print(~e)

-12

In [56]:
print(e << 2)

44

In [57]:
print(e >> 2)

2

In [58]:
print(e ^ d)

3

In [59]:
#Control Strcture : 
'''
if
if else
nested if else
if else ladder
for loop
while loop
break
continue
'''

'\nif\nif else\nnested if else\nif else ladder\nfor loop\nwhile loop\nbreak\ncontinue\n'

In [60]:
# if else ladder statement 
cibil = int(input("Enter the cibil:"))

if(cibil >= 650 and cibil <= 750):
    roi = 7.3
    print("Int would be :", roi)
elif(cibil > 750 and cibil <= 850):
    roi = 6.8
    print("Int would be :", roi)
elif(cibil > 850):
    roi = 6.5
    print("Int would be :", roi)
else:
    print("Not granted")

Enter the cibil:650
Int would be : 7.3

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# DocString

link =https://www.programiz.com/python-programming/docstrings

kaggle q0.chake() function discription
link := https://github.com/Kaggle/learntools/blob/master/learntools/core/README.md

In [7]:
Result =[]
scorelist = []
if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        Result+=[[name,score]]
        scorelist+=[score]
    b=sorted(list(set(scorelist)))[1] 
    for a,c in sorted(Result):
        if c==b:
            print(a)

3
kina
40
lina
45
richa
45
lina
richa

In [1]:
import os
os.chdir("C:\\Users\\pooja sinalkar\\Downloads")
try:
    f=open('data.text')
    print(f.read())

except(FileNotFoundError):
    print("file is not present")
finally:
    f.close()

This file is created
 to check
 file IO op.
 This is new data using append