# What is pandas-python? Introduction and Installation

Pandas is python module that makes data science easy and effective

Weather dataset

Questions?

1. What was the maximum temparature in new york in the month of january?

2. On which days did it rains?

3. What was the average speed of wind during the month?

First we will see in python code

In [2]:
#!pip install pandas
# now we will see in pandas 
import pandas as pd

df_ins = pd.read_csv("https://raw.githubusercontent.com/NeilPandey/Test_Dataset/master/insurance.csv")

df_ins.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
df_ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [15]:
df_ins.shape

(1338, 7)

In [14]:
df_ins.count()

age         1338
sex         1338
bmi         1338
children    1338
smoker      1338
region      1338
charges     1338
dtype: int64

In [16]:
df_ins.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [22]:
df_ins[['age','smoker','charges']]
#df_weather[['Day','city', 'event']][(df_weather['temp'] > 30) | (df_weather['wspeed']>10)]

      age smoker      charges
0      19    yes  16884.92400
1      18     no   1725.55230
2      28     no   4449.46200
3      33     no  21984.47061
4      32     no   3866.85520
...   ...    ...          ...
1333   50     no  10600.54830
1334   18     no   2205.98080
1335   18     no   1629.83350
1336   21     no   2007.94500
1337   61    yes  29141.36030

[1338 rows x 3 columns]

In [21]:
df_smoker_yes.count()

age        274
smoker     274
charges    274
dtype: int64

In [10]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     5 non-null      object
 1   city    5 non-null      object
 2   temp    5 non-null      int64
 3   wspeed  5 non-null      int64
 4   event   5 non-null      object
dtypes: int64(2), object(3)
memory usage: 328.0+ bytes

In [24]:
df_ins.smoker.describe()

count     1338
unique       2
top         no
freq      1064
Name: smoker, dtype: object

In [50]:
df.dtypes

Day       object
city      object
temp       int64
wspeed     int64
event     object
dtype: object

In [21]:
df_weather.event.describe()

count         5
unique        3
top       Sunny
freq          3
Name: event, dtype: object

In [11]:
df.event.describe()

count         5
unique        3
top       Sunny
freq          3
Name: event, dtype: object

In [53]:
df.event.unique()

array(['Rain', 'Sunny', 'Snow'], dtype=object)

In [14]:
df[['temp', 'wspeed','event']].head()

   temp  wspeed  event
0    32       6   Rain
1    36       7  Sunny
2    28      12   Snow
3    33       7  Sunny
4    32       5  Sunny

In [57]:
#to know which day it rains
df[['Day','city']][df['event'] == 'Rain']
#df1.head()

        Day city
0  1/1/2017   NY

In [58]:
df[['Day','city','temp','event']][df['temp'] > 35]

        Day city  temp  event
1  1/2/2017   NY    36  Sunny

In [ ]:
#3. average wind speed
df['WindSpeedMPH'].mean()

In [59]:
df_excel = pd.read_excel("/Users/neil/Downloads/Sample_Superstore.xls")
df_excel.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700

In [61]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-4.0.1-cp38-cp38-macosx_10_13_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 5.0 MB/s eta 0:00:01    |▌                               | 235 kB 3.2 MB/s eta 0:00:05
Requirement already satisfied: numpy>=1.16.6 in ./opt/anaconda3/lib/python3.8/site-packages (from pyarrow) (1.19.2)
Installing collected packages: pyarrow
Successfully installed pyarrow-4.0.1

In [62]:
!pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-0.6.3.tar.gz (318 kB)
     |████████████████████████████████| 318 kB 830 kB/s eta 0:00:01
Requirement already satisfied: pandas>=1.1.0 in ./opt/anaconda3/lib/python3.8/site-packages (from fastparquet) (1.1.3)
Requirement already satisfied: numpy>=1.11 in ./opt/anaconda3/lib/python3.8/site-packages (from fastparquet) (1.19.2)
Collecting thrift>=0.11.0
  Downloading thrift-0.13.0.tar.gz (59 kB)
     |████████████████████████████████| 59 kB 3.6 MB/s eta 0:00:01
Collecting cramjam>=2.3.0
  Downloading cramjam-2.3.2-cp38-cp38-macosx_10_9_x86_64.macosx_11_0_arm64.macosx_10_9_universal2.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 37 kB/s eta 0:00:011
Requirement already satisfied: fsspec in ./opt/anaconda3/lib/python3.8/site-packages (from fastparquet) (0.8.3)
Requirement already satisfied: python-dateutil>=2.7.3 in ./opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.1.0->fastparquet) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.1.0->fastparquet) (2020.1)
Requirement already satisfied: six>=1.7.2 in ./opt/anaconda3/lib/python3.8/site-packages (from thrift>=0.11.0->fastparquet) (1.15.0)
Building wheels for collected packages: fastparquet, thrift
  Building wheel for fastparquet (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /Users/neil/opt/anaconda3/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/f7/crd4lfgs4nn2q3ghnwllfwmr0000gn/T/pip-install-4bbwyr0z/fastparquet/setup.py'"'"'; __file__='"'"'/private/var/folders/f7/crd4lfgs4nn2q3ghnwllfwmr0000gn/T/pip-install-4bbwyr0z/fastparquet/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d /private/var/folders/f7/crd4lfgs4nn2q3ghnwllfwmr0000gn/T/pip-wheel-ca1u7_u6
       cwd: /private/var/folders/f7/crd4lfgs4nn2q3ghnwllfwmr0000gn/T/pip-install-4bbwyr0z/fastparquet/
  Complete output (47 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build/lib.macosx-10.9-x86_64-3.8
  creating build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/encoding.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/util.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/dataframe.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/compression.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/thrift_structures.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/__init__.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/core.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/converted_types.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/api.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/writer.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/schema.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  running egg_info
  writing fastparquet.egg-info/PKG-INFO
  writing dependency_links to fastparquet.egg-info/dependency_links.txt
  writing requirements to fastparquet.egg-info/requires.txt
  writing top-level names to fastparquet.egg-info/top_level.txt
  reading manifest file 'fastparquet.egg-info/SOURCES.txt'
  reading manifest template 'MANIFEST.in'
  no previously-included directories found matching 'fastparquet/test/'
  no previously-included directories found matching 'fastparquet/benchmarks/'
  no previously-included directories found matching 'test-data/'
  no previously-included directories found matching 'docs/'
  writing manifest file 'fastparquet.egg-info/SOURCES.txt'
  copying fastparquet/cencoding.c -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/cencoding.pyx -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/parquet.thrift -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/speedups.c -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  copying fastparquet/speedups.pyx -> build/lib.macosx-10.9-x86_64-3.8/fastparquet
  creating build/lib.macosx-10.9-x86_64-3.8/fastparquet/parquet_thrift
  copying fastparquet/parquet_thrift/__init__.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet/parquet_thrift
  creating build/lib.macosx-10.9-x86_64-3.8/fastparquet/parquet_thrift/parquet
  copying fastparquet/parquet_thrift/parquet/__init__.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet/parquet_thrift/parquet
  copying fastparquet/parquet_thrift/parquet/constants.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet/parquet_thrift/parquet
  copying fastparquet/parquet_thrift/parquet/ttypes.py -> build/lib.macosx-10.9-x86_64-3.8/fastparquet/parquet_thrift/parquet
  running build_ext
  building 'fastparquet.speedups' extension
  creating build/temp.macosx-10.9-x86_64-3.8
  creating build/temp.macosx-10.9-x86_64-3.8/fastparquet
  gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -I/Users/neil/opt/anaconda3/include -arch x86_64 -I/Users/neil/opt/anaconda3/include -arch x86_64 -I/Users/neil/opt/anaconda3/include/python3.8 -I/Users/neil/opt/anaconda3/lib/python3.8/site-packages/numpy/core/include -c fastparquet/speedups.c -o build/temp.macosx-10.9-x86_64-3.8/fastparquet/speedups.o
  xcode-select: note: no developer tools were found at '/Applications/Xcode.app', requesting install. Choose an option in the dialog to download the command line developer tools.
  error: command 'gcc' failed with exit status 1
  ----------------------------------------
  ERROR: Failed building wheel for fastparquet
  Running setup.py clean for fastparquet
  Building wheel for thrift (setup.py) ... done
  Created wheel for thrift: filename=thrift-0.13.0-py3-none-any.whl size=155526 sha256=155ba6f8d469f192885c4e57cadd834f6611fd458e5698d6856af040dd3e9729
  Stored in directory: /Users/neil/Library/Caches/pip/wheels/0a/52/7e/8054b57725b8f2b9ddbaacb81b271b939681cc03f8231e6ebc
Successfully built thrift
Failed to build fastparquet
Installing collected packages: thrift, cramjam, fastparquet
    Running setup.py install for fastparquet ... error
    ERROR: Command errored out with exit status 1:
     command: /Users/neil/opt/anaconda3/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/f7/crd4lfgs4nn2q3ghnwllfwmr0000gn/T/pip-install-4bbwyr0z/fastparquet/setup.py'"'"'; __file__='"'"'/private/var/folders/f7/crd4lfgs4nn2q3ghnwllfwmr0000gn/T/pip-install-4bbwyr0z/fastparquet/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /private/var/folders/f7/crd4lfgs4nn2q3ghnwllfwmr0000gn/T/pip-record-9jph_yg8/install-record.txt --single-version-externally-managed --compile --install-headers /Users/neil/opt/anaconda3/include/python3.8/fastparquet
         cwd: /private/var/folders/f7/crd4lfgs4nn2q3ghnwllfwmr0000gn/T/pip-install-4bbwyr0z/fastparquet/
    Complete output (22 lines):
    running install
    running build
    running build_py
    running egg_info
    writing fastparquet.egg-info/PKG-INFO
    writing dependency_links to fastparquet.egg-info/dependency_links.txt
    writing requirements to fastparquet.egg-info/requires.txt
    writing top-level names to fastparquet.egg-info/top_level.txt
    reading manifest file 'fastparquet.egg-info/SOURCES.txt'
    reading manifest template 'MANIFEST.in'
    no previously-included directories found matching 'fastparquet/test/'
    no previously-included directories found matching 'fastparquet/benchmarks/'
    no previously-included directories found matching 'test-data/'
    no previously-included directories found matching 'docs/'
    writing manifest file 'fastparquet.egg-info/SOURCES.txt'
    running build_ext
    building 'fastparquet.speedups' extension
    creating build/temp.macosx-10.9-x86_64-3.8
    creating build/temp.macosx-10.9-x86_64-3.8/fastparquet
    gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -I/Users/neil/opt/anaconda3/include -arch x86_64 -I/Users/neil/opt/anaconda3/include -arch x86_64 -I/Users/neil/opt/anaconda3/include/python3.8 -I/Users/neil/opt/anaconda3/lib/python3.8/site-packages/numpy/core/include -c fastparquet/speedups.c -o build/temp.macosx-10.9-x86_64-3.8/fastparquet/speedups.o
    xcode-select: note: no developer tools were found at '/Applications/Xcode.app', requesting install. Choose an option in the dialog to download the command line developer tools.
    error: command 'gcc' failed with exit status 1
    ----------------------------------------
ERROR: Command errored out with exit status 1: /Users/neil/opt/anaconda3/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/f7/crd4lfgs4nn2q3ghnwllfwmr0000gn/T/pip-install-4bbwyr0z/fastparquet/setup.py'"'"'; __file__='"'"'/private/var/folders/f7/crd4lfgs4nn2q3ghnwllfwmr0000gn/T/pip-install-4bbwyr0z/fastparquet/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /private/var/folders/f7/crd4lfgs4nn2q3ghnwllfwmr0000gn/T/pip-record-9jph_yg8/install-record.txt --single-version-externally-managed --compile --install-headers /Users/neil/opt/anaconda3/include/python3.8/fastparquet Check the logs for full command output.

In [11]:
UPSC = [110, 230, 95, 145, 273, 332, 189, 78, 127]
num = len(UPSC)

def med(N):
    res = sorted(UPSC)
    if(num % 2 != 0):
        opt = (num+1)/2
        opt = int(opt)
        chk = UPSC[opt-1]
    else:
        opt = ((num)/2,((num/2)+1))

In [10]:
UPSC = [110, 230, 95, 145, 273, 332, 189, 78, 127]
sorted(UPSC)

[78, 95, 110, 127, 145, 189, 230, 273, 332]

# Installation

!pip install pandas
pip3 install pandas