In [1]:
d1=(2,"pooja")
d1

(2, 'pooja')

In [2]:
type(d1) # Chake the type of variable

tuple

## escape sequences

In [3]:

print("whta\'s your name") 

print("Hey,whats up?")

#print("Unescaped backslashes at the end of string give an error\")

print("Hi i am pooja \a")

whta's your name
Hey,whats up?
Hi i am pooja 

## format

In [3]:
first_name='pooja'
last_name='sinalkar'
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is pooja and last name is sinalkar

In [4]:
print("My first name is {first} and last name is {last}".format(last=last_name,first=first_name))

My first name is pooja and last name is sinalkar

## len :- To chake the length of the character or string

In [5]:
len('Krish')

5

In [7]:
str='Hello Python'
print(len(str))

12

## Some built in functions in python

In [8]:
str='Krish123'

In [9]:
print(str.isalnum()) # Check if all char are numbers

True

In [18]:
print(str.isalpha()) # check if all char in the string are alphabetic
str1='abcd'
print(str1.isalpha())

False
True

In [11]:
print(str.isdigit()) # test if string contains digits

False

In [12]:
print(str.istitle()) # test if string contains titile words

True

In [13]:
print(str.isupper()) # test if string contains upper case

False

In [14]:
print(str.islower()) # test if string contains lower case

False

In [25]:
print(str.isspace()) # test if string contains spaces

False

In [16]:
print(str.endswith('k')) # test if string endswith a k

False

In [17]:
print(str.startswith('K')) #test if string starts with H

True

In [7]:
string = "ihavedoneBScinmathematic" # after removing the spaces it gives value true
print(my_string.isalnum())

False

In [8]:
string2="Welcome home"
print(string2.endswith("home"))

True

In [9]:
string2.count('o')

2

In [10]:
string2.capitalize()

'Welcome home'

In [11]:
string2.find('m')

5

In [12]:
string2.replace('home','new home')

'Welcome new home'

# list in python:-
- List is the collection of the items
- A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [14]:
student=["rohan","radhika",5,"anamika",56]
print(student)
print(student[3])

['rohan', 'radhika', 5, 'anamika', 56]
anamika

In [26]:
l1=['A','B','C']
l2=[1,2,3]
l1.extend(l2)
print(l1)
l2.insert(1,5) # here 5 is insert in the index position 1
print(l2)
l1.remove('C') # remove item using del and pop methods also
print(l1)
l1.clear() # to clear list
print(l1)

['A', 'B', 'C', 1, 2, 3]
[1, 5, 2, 3]
['A', 'B', 1, 2, 3]
[]

In [29]:
marks=[2, 7, 9, 11, 3]
marks.sort() #print(mark.sort()) is not working gives none value
print(marks)

mark=[4,85,65,9.1]
mark.reverse() #print(mark.reverse()) is not working gives none value
print(mark)

[2, 3, 7, 9, 11]
[9.1, 65, 85, 4]

In [30]:
print(marks[:])

[2, 3, 7, 9, 11]

In [31]:
print(marks[1:5:2])
print(min(marks))
marks.append(5) # deu to runing command again again it adds 5 for 5 times
print(marks)
marks.pop()
print(marks)

[3, 9]
2
[2, 3, 7, 9, 11, 5]
[2, 3, 7, 9, 11]

In [34]:
marks[4]=9 # 11 is replace by 9
print(marks)
print(sum(marks))

[2, 3, 7, 9, 9]
30

In [39]:
marks* 2 # it will print the list 2 times

[2, 3, 7, 9, 9, 2, 3, 7, 9, 9]

## count():Calculates total occurrence of given element of List

In [42]:
marks.count(1)

0

In [43]:
marks.count(2)

1

## index(): 
## Returns the index of first occurrence. Start and End index are not necessary parameters

In [46]:
marks.index(3,1,4)

1

# SETS

A set is unordered collection data type that is iterable, mutable, and 
has no duplicate elements.

In [1]:
# defining an empty set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var={1,2,3,5,6}
set_var

{1, 2, 3, 5, 6}

In [3]:
set_var={"Avengers","IronMan","Hitman"}
print(set_var)

{'Hitman', 'IronMan', 'Avengers'}

In [27]:
set_var[0] # we can not do indexing in set

TypeError: 'set' object is not subscriptable

In [5]:
# To add element in a set
set_var.add("Hulk")
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [20]:
set1={"Avengers","IronMan","Hitman"}
set2={"Avengers","IronMan","Hitman","Hulk2"}
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [7]:
set2 # This will not update on set2 it will only give the intersection

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [8]:
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'IronMan'}

In [13]:
set2.difference(set1)

{'Hulk2'}

In [14]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [22]:
set2.difference_update(set1) # It will update the difference in set2
set2

{'Hulk2'}

# Tuple in Python

We can not change the elements of tuples once created.

In [23]:
t1=(5,5,6,9) # we cant change tuple hence tuple is immutable
print(t1)

(5, 5, 6, 9)

In [24]:
t1.count(5)

2

In [26]:
t1.index(9)

3

In [33]:
print(len(t1))

# Accessing the value by using index
print(t1[1:6])
print(t1[-4:])

#convert tuple into list
x=list(t1)
print(x)
x[3]=3
print(x)
print(type(x))

4
(5, 6, 9)
(5, 5, 6, 9)
[5, 5, 6, 9]
[5, 5, 6, 3]
<class 'list'>

# loops with tuple

In [36]:
for i in x:
    print(i)

5
5
6
3

In [38]:
# while loop
print(x)
i=0

while i<len(x):
    print(x[i])
    i+=1
else:
    print("finish loop")

[5, 5, 6, 3]
5
5
6
3
finish loop

In [40]:
# How to compare tuples
t1=(1,2,3)
t2=(2,3,5)

print(t1==t2)
print(t1<t2)

False
True

# dictionary :-
- nothing but key value pair. 
- A dictionary is a collection which is unordered, changeable and indexed

In [20]:
d1={'rahul':4,'rohit':5,'marks':{'rohit':89,'rahul':80}}
print(d1)
print(d1['rahul'])
print(d1['marks']['rahul'])
d1['radhika']=6
print(d1)
d1['marks']['radhika']=60
print(d1)

{'rahul': 4, 'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80}}
4
80
{'rahul': 4, 'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80}, 'radhika': 6}
{'rahul': 4, 'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80, 'radhika': 60}, 'radhika': 6}

In [21]:
del d1['rahul']
print(d1)

{'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80, 'radhika': 60}, 'radhika': 6}

In [22]:
d2 = d1.copy()
#del d2['marks']['radhika']
print(d2)
print(d1)

{'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80, 'radhika': 60}, 'radhika': 6}
{'rohit': 5, 'marks': {'rohit': 89, 'rahul': 80, 'radhika': 60}, 'radhika': 6}

In [23]:
d2.update({'rohit':7})
print(d2)

{'rohit': 7, 'marks': {'rohit': 89, 'rahul': 80, 'radhika': 60}, 'radhika': 6}

In [24]:
print(d2.keys())
print(d2.items()) # it gives both keys and values
print(d2.values())

dict_keys(['rohit', 'marks', 'radhika'])
dict_items([('rohit', 7), ('marks', {'rohit': 89, 'rahul': 80, 'radhika': 60}), ('radhika', 6)])
dict_values([7, {'rohit': 89, 'rahul': 80, 'radhika': 60}, 6])

In [28]:
#create the dictionary and take input from the user and return the 
#meaning of the word from the dictionary
d1={'rahul':4,'rohit':5,'marks':{'rohit':89,'rahul':80}}
name=input("Enter the name:")
print(d1[name])

Enter the name:rohit
5

In [31]:
#Access the elements in nested dictionary
print(d1['marks']['rohit'])

89

In [27]:
# set in python,it store unique values is the difference between list and set
my_set=set([1,2,5,5,6])
print(my_set)
my_set.add(3)
print(my_set)
s=([2,6,5,8,9]) #list
print(my_set.intersection(s))
print(my_set.union(s))
print(max(s))

{1, 2, 5, 6}
{1, 2, 3, 5, 6}
{2, 5, 6}
{1, 2, 3, 5, 6, 8, 9}
9

In [28]:
print(my_set.isdisjoint(s))
s=set([2,6,5,8,9])
print(s.isdisjoint(my_set))
#my_set.remove(5)

#my_set.remove(9)
print(my_set)

False
False
{1, 2, 3, 5, 6}

In [29]:
#add 7+2 below
x=7+2
print(x)
#subtract 2 from 7 below
print(7-2)
#multiply 5 and 6 below
print(5*6)
#divide 7 by 2 below
print(7/2)
#remainder when 7 divide by 2
print(7%2)
#divide 7 by 2 nd round to the nearest integer
print(round(7/2))
print(int(7/2))
print(7//2)
#7 raise to the power 2 below
print(7**2)

9
5
30
3.5
1
4
3
3
49

In [30]:
#use of round
print(round(25/4,2))

6.25

In [31]:
'''you're going to do some calculations for your bills. Your net expenditure for the past 5 months
has been 1200, 2000, 800, 1500 and 1700. What is your average monthly expenditure.'''

expenditure=1200+2000+800+1500+1700
Average=(expenditure)/5
print(Average)

1440.0

In [32]:
'''Two rooms in a house needs to be filled. One room is 4 ft wide by 11 ft 
long, the other is 5 ft wide by 9 ft long. Tiles come in packages of 7 and each tile is 1ftx1ft in size

1) How many tiles are needed?
2) You buy 17 packages each containing 6 tiles each. How many tiles will be left over?  '''

Area_r1=4*11
Area_r2=5*9
Tiles_req=(Area_r1+Area_r2)

print("Needed Tiles are",Tiles_req)
left_tiles=(17*6) - Tiles_req
print("The tiles left are",left_tiles)

Needed Tiles are 89
The tiles left are 13

In [36]:
c = 4 + 8j
print(type(c))

d = 6 + 5j
print("Addition of c+d :",c+d)

<class 'complex'>
Addition of c+d : (10+13j)

In [43]:
l1=[1,4,5,6]
l2=[1,4,5,6]
l3=l1
print(l1 is l2)
print(l1 is l3) # identity operator

print(1 in l1) # membership operator

False
True
True

# Module - 1 Assignment

In [47]:
# write a program to print a string "Hello Python"
a="Hello Python"
print(a)
#write a program to store one value in variable and print that variable
b=45
print(b)
# write a program to take value from user input and print that value
c=input("Enter the value :")
print(c)
# write a program to do a sum of two value
l=int(input("Enter the value 1:"))
m=int(input("Enter the value 2:"))
print("The sum of l and m is ",l+m)

Hello Python
45
Enter the value :5
5
Enter the value 1:5
Enter the value 2:6
The sum of l and m is  11

In [50]:
#write a program to perform division using variables
l1=int(input("Enter the value 1:"))
m1=int(input("Enter the value 2:"))
print("The sum of l1 and m1 is ",l1/m1)
# write a program to take two integer value from the user and check both the values are same
print(l1==m1)

Enter the value 1:5
Enter the value 2:5
The sum of l1 and m1 is  1.0
True

In [5]:
a = "Hello World"
print(a.casefold()) # use to make uppercase lowercase
print(a)
print(a.center(20))

hello world
Hello World
    Hello World

# Dictionary in python

we store two repeated value but they having different key values.
keys are immutable.and value could be immutable or muttable or both which depends upon what value you are storing.

In [1]:
dict={1:"Apple",2:"Mango",3:"Apple"}
print(dict)

{1: 'Apple', 2: 'Mango', 3: 'Apple'}

In [36]:
# List into dictionary also store tuple into dictionary
d1={1:"Apple",2:"Mango","fruit":["Apple","Mango"]}
print(d1)
print(d1["fruit"])
print(d1.get(2))

# Access the value using item()
d=d1.items()
print(d)

{1: 'Apple', 2: 'Mango', 'fruit': ['Apple', 'Mango']}
['Apple', 'Mango']
Mango
dict_items([(1, 'Apple'), (2, 'Mango'), ('fruit', ['Apple', 'Mango'])])

In [37]:
# Change the value
d1["fruit"][1]="orenge"
print(d1)

{1: 'Apple', 2: 'Mango', 'fruit': ['Apple', 'orenge']}

In [38]:
#using update method
d1.update({2:"kivi"})
d1.update({"fruit":"kivi"})
print(d1)

{1: 'Apple', 2: 'kivi', 'fruit': 'kivi'}

In [39]:
d1.pop(2) 
print(d1)

{1: 'Apple', 'fruit': 'kivi'}

In [40]:
d1.popitem()# it remove last value from list
d1

{1: 'Apple'}

In [50]:
d1={1:"A",2:"B",3:"c"}
print(d1.values())
print(d1.keys)

dict_values(['A', 'B', 'c'])
<built-in method keys of dict object at 0x000001A6F55D9F40>

 # Python Dicision Making

In [1]:
student=("Rahul","Arya","Kartik","seema",2,6,5,11)

if "Rahul" in student:
    print("Yes.He is a student")
else:
    print("Invalid name")

Yes.He is a student

In [3]:
for i in range(1,11,2): # range(start,stop,step)
    print(i)

1
3
5
7
9

In [5]:
for i in range(4):
    print(i)

0
1
2
3

In [6]:
for i in range(2,10):
    if i%2!=0:
        continue
    print(i)

2
4
6
8

In [7]:
cities=["pune","new york","chicago","los angeles"]
capitalized_cities=[]

for i in cities:
    capitalized_cities.append(i)
print(capitalized_cities)

['pune', 'new york', 'chicago', 'los angeles']

In [8]:
# Make first later capital
cities=["Pune","New York","chicago","los angeles"]
capitalized_cities=[]

for i in cities:
    capitalized_cities.append(i.title()) 
    # Return a version of the string where each word is titlecased
print(capitalized_cities)

['Pune', 'New York', 'Chicago', 'Los Angeles']

In [9]:
# Write a for loop using range() to print out multiples of 5 up to 30 inclusive

for i in range(5,30,5):
    print(i)

5
10
15
20
25

In [10]:
''''Write a for loop that iterates over the names list to create a usernames list.
To create a username for each name, make everything lowercase and
replace spaces with underscores. Running your for loop over the list:'''

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames=[]
    
for i in names:
    usernames.append(i.lower().replace(" ","_"))
print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

In [11]:
#Write a for loop that iterates over a list of strings, tokens, and counts how many of them are XML tags.
tokens = ['<greeting>', 'Hello World!', '</greeting>','<Welcome>']

count=0
for i in tokens:
    if i[0] == '<' and i[-1] == '>':
        count += 1
    
print(count)

3

In [12]:
'''Write some code, including a for loop, that iterates over a list of strings and creates a
single string, html_str, which is an HTML list. For example, if the list is 
items = ['first string', 'second string'], printing html_str should output:
<ul>
<li>first string</li>
<li>second string</li>
</ul>'''

items = ['first string', 'second string']
html_str='<ul>\n'

for i in items:
    html_str+='<li>{}</li>\n'.format(i)
    
html_str+='</ul>'

print(html_str)

<ul>
<li>first string</li>
<li>second string</li>
</ul>

In [13]:
cast = {
           "Joey Tribbiani": "Joey Tribbiani",
           "Monica Geller": "Chandler Bing",
           "Phoebe Buffay": "Mike Hannigan",
           "Ross Geller": "Rachel Green"
       }


for key in cast:
    print(key)

Joey Tribbiani
Monica Geller
Phoebe Buffay
Ross Geller

In [14]:
for key,value in cast.items():
    print('partner 1 : {}  partner 2 : {}'.format(key,value))

partner 1 : Joey Tribbiani  partner 2 : Joey Tribbiani
partner 1 : Monica Geller  partner 2 : Chandler Bing
partner 1 : Phoebe Buffay  partner 2 : Mike Hannigan
partner 1 : Ross Geller  partner 2 : Rachel Green

In [20]:
students={'Rahul':11,"Riya":12,"Arnab":13}
for key,j in students.items():
    print(key,j)

Rahul 11
Riya 12
Arnab 13

In [21]:
result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary
for i,j in basket_items.items():
    if i in fruits:
        result +=j

print("There are {} fruits in the basket.".format(result))

There are 23 fruits in the basket.

In [22]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [23]:
a=2
b=6

print("a is greater") if a>b else print("b is greater")

b is greater

In [24]:
if a<b:
    pass

In [25]:
#take values of length and breadth of a rectangle from user and check if it is square or not
print("Enter the length of rectangle")
length=int(input())
print("Enter the breadth of rectangle")
breadth=int(input())

if length == breadth:
    print("Yes,it is square")
else:
    print("no,it is not square,it is only rectangle")

Enter the length of rectangle
5
Enter the breadth of rectangle
6
no,it is not square,it is only rectangle

In [26]:
print("Enter the number")
num=int(input())

if(num<0):
    print(num*-1)
else:
    print(num)

Enter the number
-6
6

In [27]:
# allow student to sit if he/she has medical cause.ask user if he/she has medical cuase or not("Y" or "N") and print accordingly
medical_cause=(input("If you have medical cause say 'Y' or if not then say 'N'\n"))

if medical_cause == "Y":
    print("you are allowed")
else:
    age=int(input("Enter your age\n"))
    if age >= 75:
        print("allowed")
    else:
        print("not allowed")

If you have medical cause say 'Y' or if not then say 'N'
N
Enter your age
56
not allowed

In [29]:
list=[['c',3],['a',1],['b',3]]

for i in list:
    print(i)
    
for i,j in list:
    print(i,"in position",j)
    
for i,j in list:
    print(j)

['c', 3]
['a', 1]
['b', 3]
c in position 3
a in position 1
b in position 3
3
1
3

In [30]:
dict1=dict(list) # convert the list into dictionary
 
for i in dict1:
    print(i)

c
a
b

In [32]:
items=(int,float,'harry','kavery',5,6,2,56,45)

for i in items:
    if str(i).isnumeric() and i>=2:
        print(i)

5
6
2
56
45

In [33]:
sum=0
n=int(input("Enter the value of N:"))

while(n>0):
    sum+=n
    n-=1
    print("sum : ",sum)
else:
    print("Loop end")
print("Bye")

Enter the value of N:4
sum :  4
sum :  7
sum :  9
sum :  10
Loop end
Bye

In [34]:
# print *

for i in range(1,9):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********

In [36]:
for i in range(9,1,-1):
    for j in range(i):
        print("*",end="")
    print()

*********
********
*******
******
*****
****
***
**

# end =  
is used to change the default beahaviour of print statement in python.since print() inserts a newline in python
after each exacution. end = is change it

In [37]:
n = int(input())

for i in range(n):
    print(i+1,end="/")

5
1/2/3/4/5/

In [41]:
'''you are managing your finances using python:
complete the tasks mentioned in the comments. and then print the amount left in your bank.
Note that this code uses scientific notation to define large numbers. 1.2e6 is equal to 1.2 * 10 ** 6 which is equal to 1200000.
amt=1.2e5'''
# the amount of money in your bank account is 1.2e5
amt = 1.2e6

# money recieved every year in form of salary
salary = 9.3e5

# decrease the salary by 30% as tax paied to the government.
salary -= (30/100)*salary

# Add the salary to the bank account amt variable
amt += salary

# increase the amt by 4% that you recieved from the bank as intrest
amt += (4/100)*amt

# substract 1.2e5 from amt as the rent paied
amt -=1.2e5

# print the new value of the amt variable
print(amt)

1805040.0

In [42]:
def sum(a,b):
    return a+b

sum(6,8)

14

In [43]:
def mul(a,b,c):
    res=a*b*c
    print('The multiplication is:',res)
    
mul(5,6,9)

The multiplication is: 270

In [44]:
# try exception handling
print('Enter the number 1')
num1=(input())
print('Enter the number 2')
num2=(input())

try:
    sum=int(num1)+int(num2)
    print(sum)
except Exception as e:
    print(e)

Enter the number 1
5
Enter the number 2
p
invalid literal for int() with base 10: 'p'

In [45]:
#function with one argument
def argument(a):
    print("value of a :",a)
    
argument(10)

value of a : 10

In [46]:
#function with multiple argument
def myfunction(a,b):
    print("A:B =",a,":",b)
myfunction('python',1)

A:B = python : 1

In [47]:
# Keywords argument
def myfunction(child3,child2,child1):
    print("Youngest child is :"+child1)
    
myfunction(child2='Ritesh',child3='Ram',child1='Geeta')

Youngest child is :Geeta

In [48]:
#default parameter value
def myfun(state='Ranmala'):
    print("I am from :"+state)
    
myfun() # at empty space it used the default value of state
myfun('Gujrat')

I am from :Ranmala
I am from :Gujrat

In [49]:
# passing list into the function
def myfun(fruit):
    for i in fruit:
        print(i)
f=['Apple','Banana','Cherry'] 
myfun(f)

Apple
Banana
Cherry

In [50]:
# return value from function
def myfun(x):
    return(5*6)

myfun(6)

30

# Recursion function :-

In [51]:
def factorial(x):
    if x==1:
        return 1
    else:
        return(x*factorial(x-1))
num = int(input("Num : "))
print("The factorial of ",num,"is",factorial(num))

Num : 6
The factorial of  6 is 720

# Lambda or anonymous function
The function which has no name

In [52]:
x = lambda a:a+10
print(x(5))

y = lambda a,b,c:a*(b+c)
print(y(5,2,3))

15
25

# Global variable
global variable means the variable can be use anywhere in the program

In [54]:
z = 25 # global variable
def myfun():
    global z
    print(z)
    z=20
    
myfun() 
print(z)

25
20

# Local variable
The variable which can be used in it scope

In [56]:
def sum(x,y):
    sum=x+y
    return sum
print(sum(5,10))

print(x) 
# x is local variable here for sum function it use only for sum funcion

15
<function <lambda> at 0x0000021415CA5AF0>

# Random module in python

In [57]:
import random

In [58]:
from random import choice
l1=[1,2,3,4,5]
print(choice(l1)) # it choose anyone number from l1

1

In [59]:
from random import randint
otp = randint(10000,999999)
print("Your OTP:",otp)

Your OTP: 188179

In [60]:
from random import shuffle
from random import uniform

In [61]:
l2=['Apple','Banana',"Mango"]
shuffle(l2)
print(l2)
random.uniform(3,4)

['Apple', 'Banana', 'Mango']

3.361809256339012

In [62]:
from random import getstate
# remember this state
state = random.getstate()
 
# print 10 random numbers
print(random.sample(range(20), k = 10)) # it print 10 numbers between 1-20
 
# restore state
random.setstate(state)
 
# print same first 5 random numbers
# as above
print(random.sample(range(20), k = 5))

[6, 1, 3, 2, 11, 16, 14, 12, 19, 9]
[6, 1, 3, 2, 11]

# Wesite for random module
https://docs.python.org/3/library/random.html

# Math module

In [64]:
import math
from math import factorial

In [65]:
print(math.factorial(5))

120

In [67]:
# ceil() it gives round off of number
print(math.ceil(1.4))

2

In [68]:
# floor()
print(math.floor(0.2))
print(math.floor(5.2))

0
5

In [69]:
# sqrt
print(math.sqrt(4))

2.0

In [70]:
from math import fabs

In [71]:
math.fabs(5)
# Return the absolute value of the float x.

5.0

# Website for math module functon
https://docs.python.org/3/library/math.html

# object oriented concept in python

In [73]:
# how to create the class
class myclass:
    x=5
    
print(myclass)

<class '__main__.myclass'>

for accessing the value of x i.e. the property of class we need to create an object

In [74]:
# How to create an object ?

class myclass:
    x=5 # property of class
    y=6
    
m1=myclass() # m1 is an object of class myclass
print(m1.x)
print(m1.y)

5
6

In [76]:

class myclass:
    def myfun(self): 
        # self is required in parameter unless compiler give an error
        return 5*9
m1=myclass()
m1.myfun()

45

In [77]:
# How to create constuctor

class myclass:
    def __init__(self):
        print(5*9)
m1=myclass()

45

In [78]:
# change the value by objects
class myclass:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
m1=myclass("pooja",21)
print(m1.age)
print(m1.name)

21
pooja

In [79]:
# changing the age using object
m1.age=23
print(m1.age)

23

In [80]:
# delete the object
del m1.age

In [81]:
print(m1.age)

AttributeError: 'myclass' object has no attribute 'age'